#BarGraphDiv{
    margin: 10px;
}
.toolTipText{
    visibility: visible;
    width: 120px;
    background-color: black;
    text-align: center;
    padding: 3px;
    z-index: 1;
}

.visx-bar {
    fill: white;
}

.visx-bar .done{
     fill: green !important;
}

#legend{
    border-style: solid;
    border-radius: 8px;
    margin: 5px 5px;
    padding: 10px 10px;
    color: black;
    border-width: thin;
}
